<!DOCTYPE html>
<html>
<head>
<title>Reponsive HTML Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
<link href="css/style.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

  <header class="main__header">
    <div class="container">
      <nav class="navbar navbar-default" role="navigation"> 
        <div class="navbar-header">
          <h1 class="navbar-brand"><a href="index.html">M & V</a></h1>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1,#bs-example-navbar-collapse-2"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#"><3</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <!-- iframe src="https://embed.spotify.com/?uri=spotify:track:66L8xnafQAqfAAmaNp9kbY" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->

  <section class="slider">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner"> <!--
        <div class="item"> <img data-src="images/mine/asset1.png" alt="First slide" src="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Vivamus mollis, mauris sed dapibus sodales</h1>
              <p>Nulla eu mattis, aenean eget velit augue. Proin pulvinar rutrum leo, at gravida. </p>
            </div>
          </div>
        </div> -->
        <div class="item active"> <img data-src="images/mine/asset2.png" alt="Second slide" src="images/mine/asset2.png">
          <div class="container">
            <div class="carousel-caption">
              <h1>Diversión, risas, bailes, salidas, tragos, desveladas, mojadas, crudas, osos</h1>
              <p>
                En poco tiempo he pasado muchas cosas a tu lado y las que espero faltan por venir, desde que te conocí te dije que eres una mujer increible y súper divertida, y cada día lo reafirmo.
                <br/>
                <br/>
                La diversión que siento al estar contigo es una de las cosas que más me gsutan de nosotros, me encanta hacerte reir, hacerte cosquillas, molestarte pero sobre todo, ver tu hermosa sonrisa cuando te veo a los ojos.</p>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </section>

  <!--end of slider section-->
  <section class="main__middle__container">
    <div class="row text-center no-margin nothing green__line">
      <div class="container headings">
        <h1 class="page_title">Se que te preguntarás, POR DIOS ¿qué demonios es esto?... ᶘ ᵒ㉨ᵒᶅ</h1>
        <p class="small-paragraph">
          Digamos que es una carta, al estilo de un programador :)
          <br/>
          <br/>
          ¿Quieres verla completa?
        </p>
        <p>
          <a id="vamoaver" class="btn btn-info btn-lg" href="#main_container">Seguro vamos :D</a>
          <a id="nelson" class="btn btn-info btn-lg" href="#" >No :(</a>
        </p>
      </div>
    </div>

    <div id="main_container" style="display:non;">

      <div class="row heading__block services text-center no-margin nothing">
        <h2>OUR CREATIVE SERVICES</h2>
        <p class="small-paragraph">Aliquam imperdiet quam ligula. Nulla facilisi.</p>
      </div>


      <!-- presentacion -->
      <div class="row no-margin grey-info-block text-center">
        <div class="container">
          <h3 style="margin-bottom:30px;">
            Ok vamos a comenzar, lo que te escribo aquí expresa lo que siento por ti, lo que hemos vivido, lo que quisiera que viviéramos y lo que pienso.
          </h3>
          <p class="small-paragraph">
            Escribo en un lenguaje pocho (español-inglés) porque.. pues.. así hablas tú :D y pues nada! 
          </p>

          <div class="col-md-12"> <img src="images/mine/asset1.png" alt="img" class="img-rounded img-responsive">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
              Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.
            </p>
          </div>

          <div class="col-md-6">
            <h3>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. </h3>
            <p class="small-paragraph">Praesent semper mod quis eget mi. Etiam eu ante risus.</p>
            <img src="images/mine/opt3.png" alt="pic" class="img-rounded img-responsive">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
          </div>
          <div class="col-md-6">
            <h3>Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</h3>
            <p class="small-paragraph">Praesent semper mod quis eget mi. Etiam eu ante risus.</p>
            <img src="images/mine/opt7.png" alt="pic" class="img-rounded img-responsive">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
          </div>


          <div class="col-md-12">
            <h3>Y bueno... esta imagen resume como me siento cuando te veo</h3>
            <p class="small-paragraph">Solo hay que cambiar el texto por "Ahí viene la que te gusta" :D</p>
            <img src="images/mine/gif2.gif" alt="pic" class="img-responsive">
          </div>
        </div>
      </div>

    <!-- que piensan -->
      <div class="row text-center no-margin nothing green__line testimonials">
        <div class="container headings">
          <h2 class="page_title">¿Y qué dice la gente?</h2>
          <p class="small-paragraph"><small>Una relación es de dos, pero siempre es curiso saber que piensan los demás.</small></p>
          <div id="myCarousel2" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel2" data-slide-to="1"></li>
              <li data-target="#myCarousel2" data-slide-to="2"></li>
              <li data-target="#myCarousel2" data-slide-to="3"></li>
              <li data-target="#myCarousel2" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <p class="small-paragraph">
                  "I want people to be this happy #IWPTBTH"
                  <br/> 
                  <br/>
                  Con eso comenzó todo, si eso dijo en ese momento, no se imagina lo felices que podríamos ser en el futuro.
                  <br/>
                  Facebook source: <a href="http://bit.ly/iwptbth" target="_blank" style="color: #fff; text-decoration: underline;">http://bit.ly/iwptbth</a>
                </p>
                <p class="small-paragraph"><small>Vidal Gonzalez, Our Boss</small></p>
              </div>
              <div class="item">
                <p class="small-paragraph">
                  "- Si mamá pues se llama Valeria y es bien fresa"<br/>
                  "- Que bueno hijo, me da gusto verte feliz"<br/>
                  "- Si pues no la podré llevar a tomar caguamas por ser fresa, pero está bien"<br/>
                  "- Jajaja Mauricio cállate" 
                <p class="small-paragraph"><small>Antonia Guzmán, Mi Mamá</small></p>
              </div>
              <div class="item">
                <p class="small-paragraph">
                  "Mauricio debes cuidar a Valeria, ella es una chica bien, de familia, debes ser un caballero y estar siempre atento con ella, nos gusta mucho para ti, ¡ya quiero que se casen!"
                  <br/>
                  <br/>
                  PRESIÓN, PRESIÓN, PRESIÓN
                <p class="small-paragraph"><small>Miryam y Adriana, Roomies</small></p>
              </div>
              <div class="item">
                <p class="small-paragraph">
                  "¡BESO! ¡BESO! ¡BESO! ¡BESO! ¡BESO! ¡BESO!"
                <p class="small-paragraph"><small>Claire, Caro, Areli, Edith, Wize Girls</small></p>
              </div>
              <div class="item">
                <p class="small-paragraph">
                  "¡Quisiera tener una novia como tú y ser tan felices como ustedes para ir a eventos de la empresa con ella!"
                  <br/>
                  <br/>
                  Tiene razón casi en todo, casi..
                </p>
                <p class="small-paragraph"><small>Alejandro Abarca, El Kinduff</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="recent-posts">
        <div class="container">
          <div class="row no_padding nothing">
            <div class="col-md-9">
              <article> 
                <img src="images/mine/happy_people.gif" alt="pic1" class="pull-left img-responsive">

                <div class="text">
                  <h3><a href="#">Lorem ipsum dolor sit consectetuer adipiscing elit. Donec odio.</a></h3>
                  <p class="small-paragraph">Lorem ipsum dolor sit amet</p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. Nullam malesuada erat ut turpis.Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
                </div>

                <div class="clearfix"></div>
              </article>

              <article> 
                <img src="images/mine/love.gif" alt="pic2" class="pull-left img-responsive">
                <div class="text">
                  <h3><a href="#">Lorem ipsum dolor sit consectetuer adipiscing elit. Donec odio.</a></h3>
                  <p class="small-paragraph">Lorem ipsum dolor sit amet</p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. Nullam malesuada erat ut turpis.Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
                </div>
                <div class="clearfix"></div>
              </article>
            </div>
            <div class="col-md-3">
              <div class="icon-item"> <img src="images/mine/left3.png" alt="small-post-img" class="img-responsive">
                <h4><a href="#">Metas e ideales, estar con alguien inteligente hace creecer a ambos</a></h4>
                <p class="small-paragraph">No supe que poner de mi inteligencia, la foto es de cuando gane un hackathon.</p>
              </div>
              <div class="icon-item"> <img src="images/mine/left4.png" alt="small-post-img" class="img-responsive" style="margin-top:30px;">
                <h4><a href="#">Risas, juegos y tonterias, siempre sonriendo</a></h4>
                <p class="small-paragraph">¿Sabías que te ver hermosa cuando sonries? bueno, ahora lo sabes <3</p>
              </div>
              <div class="icon-item"> <img src="images/mine/left1.png" alt="small-post-img" class="img-responsive">
                <h4><a href="#">Compartimos sentimientos por el fútbol</a></h4>
                <p class="small-paragraph">¡Vamos Chivas! ¡Hala Madrid!</p>
              </div>
              <div class="icon-item"> <img src="images/mine/left2.png" alt="small-post-img" class="img-responsive" style="margin-top:30px;">
                <h4><a href="#">¡Nuestro gusto por la carne seca y la birria!</a></h4>
                <p class="small-paragraph">Se me hizo agua la bocaaaaaaa, tenemos que ir por birria y carne seca, ¡a la de YA!</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>About</h3>
          <p>
            Mauricio Montalvo created this page just to let you (Valeria Anzalo) know how much he likes you.
            <br/>
            <br/>
            This is just a little detail, doesn't require any response or something like that.<br />
            <br />
        </div>
        <div class="col-md-3">
          <h3>Disclaimer</h3>
          <p>
            The information contained in this website is for Valeria Anzaldo, but please feel free to share it if you want. 
            <br />
            <br />
            © Copyright M&V - Our Love.<br/> All Rights Reserved.
          </p>
        </div>
        <div class="col-md-3">
          <h3>Contact</h3>
          <p style="margin-bottom:15px;">
            If you have comments or any kind of feedback, please contact me:
          </p>
          <div class="social__icons"> 
            <a href="https://www.facebook.com/maumontalvo5" class="socialicon socialicon-facebook"></a> 
            <a href="https://www.linkedin.com/in/mauricio-eduardo-montalvo-guzm%C3%A1n-86a94152" class="socialicon socialicon-twitter"></a> 
            <a href="https://plus.google.com/u/0/101549411526489714020" class="socialicon socialicon-google"></a> 
          </div>
          <p style="margin-top:15px;">
            <i>But here's my number, so call me maybe:</i>
            <br />
            <a href="tel:5559090196">+52 (55) 5909-0196</a>
          </p>
        </div>
        <div class="col-md-3">
          <h3>P. S.</h3>
          <p>
            Te quiero mucho Valeria, desde que te conocí he pensado que eres increible, eres una mujer hermosa e inteligente y en verdad soy afortunado de haberte encontrado en mi vida, no quiero lo nuestro termine aquí...
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
  <script type="text/javascript" src="js/jquery.min.js"></script> 
  <!-- Include all compiled plugins (below), or include individual files as needed --> 
  <script src="js/bootstrap.min.js"></script> 
  <script type="text/javascript">

  $('.myCarousel').carousel({
    interval: 5000, // in milliseconds
    pause: 'none'
  });

  $('.myCarousel2').carousel({
    interval: 15000, // in milliseconds
    pause: true
  });

  $('#nelson').click(function(e) {
    e.preventDefault();
    if($('#main_container').is(':visible')) {
      return;
    }

    if(confirm('¿Y por qué no quieres :(? ¡Vamos a verla ándale! ¿sí?')) {
      $('#vamoaver').click();
    }
    else {
      window.location = 'https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=por+qu%C3%A9+valeria+no+quiso+ver+mi+carta%3F+:(';
    }
  });

  $('#vamoaver').click(function(){
    $('#main_container').show();
    $('#nelson').html('¡ya dijiste si! :D');
  });
  </script>
</body>
</html>